body{
	background-color: #e6e6e6;
	
}
.header{
	background-color: #000;
	color: #fff;
	text-align: left;
	padding: 15px 20px;
    margin-bottom: 40px;
    border-radius: 0 0 5px 5px;
}
.header h1{    
    font-size: 30px;
}
.header .user{ 
	font-size: 14px;
    font-weight: normal;
}
ul,h1,h3,h4{
	padding: 0; 
	margin: 0;
}
ul li{
	list-style-type: none;
}

ul li h3{
	background-color: #F8F7F7;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 10px;
}
ul li label{
	margin-right: 10px;
	width: 50%;
	display: inline-block;
	padding: 5px;
	color: rgb(11, 107, 157);
}
a {
	text-decoration: none;
}
.footer{
	position: absolute;
	bottom:  0;
	width: 1140px;
	background-color: #000;
	color: #fff;
	padding: 10px;
}
.icon{
	  width: 30px;
	  height: 30px;
	  display: inline-block;
	  box-shadow: 3px 3px 1px -1px #000;
	  margin: 0 5px;
}
.share{
	background: url('share.jpg') no-repeat;
}
.locate{
	background: url('locate.png') no-repeat;
}
.chat{
	background: url('chat.png') no-repeat;
}
.picked{
	background: url('picked.jpg') no-repeat;
}
.sm-icon {
	width: 160px;
	height: 160px;
	display: inline-block;
	border-radius: 50%;
	margin: 10px 10px 10px 10px;
}
.sm-fb {
	background: url('images/fb.png') no-repeat;
}
.sm-twitter {
	background: url('images/twitter.jpg') no-repeat;
}
.sm-linkedin {
	background: url('images/linkedin.png') no-repeat;
}
.sm-sub-container {	
    padding: 4% 0 0 15%;
    text-align: center;
}
.sm-sub-container > div{
	display: inline-block;
}
.sm-sub-container > div:last-child{
	display: block;
}
.sm-col{
	display: inline-block;
	float: left;
}
.w25{
	width: 25%;
}
.w70{
	width: 70%;
}
.w100{
	width: 100%;
}
.sm-create-post-cont{
	padding: 10px;
	border: 1px solid #fff;
	margin-bottom: 20px;
}
.sm-create-post-cont label{
	display: block;
	margin-bottom: 10px;
}
.sm-create-post-cont textarea{
	width: 99%;
	height: 100px;	
	margin-bottom: 10px;
	border: 1px solid #13B8C5;
	resize: none;
}
.sm-btn {
	background: #3089D4;
	border: 1px solid #3089D4;
	color: #fff;
	padding: 4px 10px;
	border-radius: 5px;
	cursor: pointer;
}
.sm-content{
	padding: 20px;
	color: #0B79BB;
}
.sm-search-cont{
	padding: 10px;
	position: relative;
}
.sm-search{
	padding: 10px 25px 10px 10px;
	width: 100%;
	border: 1px solid #ccc;
}
.sm-search-icon{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url('images/search.png') #fff no-repeat;
	position: absolute;
	top: 18px;
	right: -22px;
}
.sm-pull-right-20{
	margin-left: 20px;
}
.sm-pull-down-45{
	margin-top: 45px;
}
.sm-action-cont,.sm-tab-content .sm-title {
	background-color: #F0F0F0;
	padding: 5px 0;
	text-indent: 5px;
}
.sm-action-cont a {	
	color: #000;
	font-size: 11px;
	display: inline-block;
}
.sm-user-info h2{
	color: #2884C4;
}
.sm-user-info h3{
	padding: 8px 0;
	background-color: #F8F7F7;
	text-indent: 10px;
	font-weight: normal;
}
.sm-posts-cont {
	border-bottom: 1px solid #B3CDDF;
	margin: 10px 0;
	padding: 10px;
	color: #666;
}
.sm-posts-cont p{
    font-size: 12px;
}
.sm-posts-cont h5{
    margin-top: 2px;
}

.sm-nav{
	float: left;
}

/*TBD*/

.sub-content{
	font-size: 14px;	
	margin-bottom: 15px;
	width: 100%;
	text-overflow: ellipsis;
}
.sm-signature{	
	padding: 5px 0;
	font-size: 10px;
	text-align: right;
}
.sm-signature .sm-name{
	display: block;
	padding: 3px;
}
.sm-tabs.sm-tabs-highlighter{
    padding: 10px;
    background-color: #E2E2E2;
    border-radius: 10px;
}
.sm-tabs ul {
    margin-bottom: 20px;
    border: none;
}
.sm-tabs .nav-tabs li a,
.sm-tabs .nav-tabs li a:hover,
.sm-tabs .nav-tabs li a:focus {
    background: none;
    border: none;
    padding: 0 20px 10px 20px;
}
.sm-tabs .nav-tabs li.active a {
    border-bottom: 5px solid;
}
.margin-tp-20 {
    margin-top: 20px;
}
.align-right {
    text-align: right;
}
.error{
    color: #A94442;
    font-size: 11px;
}
.sm-sub-header{
    color: #286090;
}