<section class="container" ng-controller="smProfileCtrl">
    @{
        ViewBag.Title = "Home";
        var Nick = Request.Params["Nick"];
        //var currentUser = Membership.GetUser(User.Identity.Name);
        //if (currentUser == null)
        //{
        //    Response.Redirect("~/Account/Login");
        //}
        var userName = "suryanak9";
    }
    <!-- Header -->
    <header class="header">
        <h1>
            <a href="/Home/Index">msSocial</a>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    @userName <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-toggle="modal" data-target="#changePassword">Change Password</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </h1>
    </header>
    <div class="sm-main-content">
        <!-- Page Header and Search Control -->
        <div class="row">
            <div class="col-lg-8 sm-sub-header" ng-show="myProfile && !hideHeader">
                <h4>@Nick</h4>
            </div>
            <div class="col-lg-8 sm-sub-header" ng-hide="myProfile || hideHeader">
                <h4 ng-show="profile.Name">
                    {{profile.Name}}
                    <button type="button" ng-click="unfollow(profile.ScreenName)" class="btn btn-danger btn-xs pull-right">Unfollow</button>
                    <button type="button" ng-click="follow(profile.ScreenName)" class="btn btn-success btn-xs pull-right">Follow</button>
                </h4>
            </div>
            <div class="col-lg-8 sm-sub-header" ng-hide="!hideHeader">
                <h4>
                    Search results for "{{searchStr}}"
                </h4>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" ng-model="searchText" class="form-control" placeholder="Search people, page, group" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!searchText">Search <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="getTweets(searchText)">Profile</a></li>
                            <li><a href="#" ng-click="search(searchText)">Content</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr />        
        <!-- Main Content -->
        <section>
            @{
                TweetSharp.TwitterUser userProfile = null;
                var twitterSecret = new Social_media_access.Models.TwitterSecretData(userName, Nick);
                var service = new TweetSharp.TwitterService(twitterSecret._OAuthConsumerKey, twitterSecret._OAuthConsumerSecret);
                service.AuthenticateWith(twitterSecret._OAuthAccessToken, twitterSecret._OAuthAccessTokenSecret);
                var _ListTweetsOnHomeTimelineOptions = new TweetSharp.ListTweetsOnHomeTimelineOptions();
                _ListTweetsOnHomeTimelineOptions.Count = 10;
                var tweets = service.ListTweetsOnHomeTimeline(_ListTweetsOnHomeTimelineOptions);
                userProfile = service.GetUserProfile(new TweetSharp.GetUserProfileOptions());
                long LastTweetId = tweets.Last().Id;
                long FirstTweetId = tweets.First().Id;
            }
            <script type="text/javascript">
                /* Temporary */
                var LastTweetId = '@LastTweetId';
                var FirstTweetId = '@FirstTweetId';
                var userInfo = { userName: '@userName', Nick: '@Nick' };
            </script>

            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div id="homepage">
                            <div class="sm-create-post-cont" ng-hide="hideStatusBox">
                                <label> Compose your post </label>
                                <textarea ng-model="newPost.status" ng-disabled="disableStatusBox"></textarea>
                                <button class="btn btn-primary" ng-click="updateStatus(newPost.status)" ng-disabled="!newPost.status">Post</button>
                            </div>
                            <div ng-if="tweets.length>0">
                                <div class="sm-user-info">
                                    <h4>Posts and Feeds</h4>
                                </div>
                                <div ng-repeat="tweet in tweets" class="sm-posts-cont">
                                    <div class="media">
                                        <div class="media-left">
                                            <img ng-src="{{tweet.Author.ProfileImageUrl}}" class="thumbnail media-object" alt="profile Image" />
                                        </div>
                                        <div class="media-body">
                                            <h5 class="text-primary">{{tweet.Author.ScreenName}} <span class="label label-default pull-right">{{tweet.CreatedDate | toDate}}</span></h5>
                                            <p>{{tweet.Text}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class='sm-action-cont'>
                                                <a href='#' ng-click="retweet(tweet.Id)">{{tweet.RetweetCount}} Retweet</a>
                                                <a role="button" data-toggle="collapse" href="#{{tweet.Id}}" aria-expanded="false" aria-controls="{{tweet.Id}}">
                                                    Comment
                                                </a>
                                                <a href='#' ng-click="deleteTweet(tweet.Id)">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse" id="{{tweet.Id}}">
                                        <div class="well well-sm">
                                            <textarea ng-model="tweet.newComment" class="form-control"></textarea>
                                            <button class="btn btn-sm btn-primary margin-tp-5" type="button" ng-click="reply(tweet)" ng-disabled="!tweet.newComment">Reply</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="sm-loader-container" ng-show="myProfile">
                                    <button class="btn btn-default btn-sm" type="button" ng-click="loadMoreTweets()">Load More <span class="badge">+</span></button>
                                    <span class="sm-loader" ng-show="showLoader"></span>
                                </div>
                                <div class="sm-loader-container" ng-hide="myProfile">
                                    <button class="btn btn-default btn-sm" type="button" ng-click="loadMoreProfileTweets(profile.ScreenName)">Load More <span class="badge">+</span></button>
                                    <span class="sm-loader" ng-show="showLoader"></span>
                                </div>
                            </div>
                            <div ng-if="tweets.length == 0" class="sm-no-results">
                                <div>
                                    <img src="~/Content/Images/noresults.png" alt="No results Image"/>
                                </div>
                                <p>We could not find any results for your search.</p>
                                <p>Please modify your search and try again.</p> 
                            </div>                           

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div ng-show="mentions.length > 0 && myProfile">
                            <h4>Mentions</h4>
                            <ul>
                                <li ng-repeat="item in mentions">
                                    <a href="#">{{item.Text}}</a>
                                </li>
                            </ul>
                        </div>                       
                    </div>
                </div>
            </div>


        </section>
       <div class="sm-backdrop" ng-show="showBackDrop"></div>

        <!--Modal-->
        <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="changePassword">Change Password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form name="changePasswordForm" novalidate>
                                        <div class="form-group">
                                            <label>Current Password</label>
                                            <input type="text" name="currentPassword" ng-model="changePassword.currentPw" class="form-control" placeholder="Enter Current Password" required />
                                        </div>
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input type="text" name="newPw" ng-model="changePassword.newPw" class="form-control" placeholder="Enter New Password" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm New Password</label>
                                            <input type="text" name="confNewPw" ng-model="changePassword.confNewPw" class="form-control" placeholder="Enter New Password" required />
                                        </div>
                                        <button type="submit" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>